.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.1 !important;
}

.select2-results__option
{
    padding: inherit !important;
}

.em-notification {
    position: absolute;
    top: 5px;
    border: 1px solid rgb(190, 151, 151);
    right: -4px;
    font-size: 9px;
    background:rgb(190, 151, 151);
    color: #fff;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}